:root {
  /* Maze size */
  --size: 75vh;
  /* Start maze tile number. MUST BE ODD */
  --subdiv: 11;
  --color: #929992;
  --bc-color: #201208;
}

@font-face {
  font-family: 'pixelon';
  src: url('Pixelon-OGALo.ttf');
}

* {
  font-family: pixelon;
  color: var(--color);
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bc-color);
  height: 100vh;
}

main {
  display: grid;
  grid-template-columns: calc((100vw - var(--size) - 10vw)/2) calc(var(--size) + 10vw) calc((100vw - var(--size) - 10vw)/2);
  height: 100vh;
  overflow: hidden;
}

/* ########################################################################################################################## */

#startForm {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#startForm button, form input {
  width: 20%;
  background-color: var(--bc-color);
  border: solid var(--color) 2px;
  font-size: 20px;
  padding: 10px;
  transition: 100ms;
  cursor: pointer;

  margin-bottom: 70px;
}
#startForm button:hover {
  border: solid #686b68 2px;
}

#startForm h1 {
  margin-bottom: 20px;
}
#startForm h3 {
  position: relative;
  top: -40px;
}

#leaderboard {
  position: relative;
  height: 54vh;
  width: 40%; 
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 25px;
}

#leaderboard thead {
  font-weight: 900;
}

th, td {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

#leaderboardBody>tr:last-child>td {
  border-bottom: 0;
}


/* ########################################################################################################################## */


#maze {
  position: relative;
  width: var(--size);
  height: var(--size);
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  flex-wrap: wrap;
  line-height: 0;
}

.tile, .player {
  height: calc(var(--size)/var(--subdiv));
  width: calc(var(--size)/var(--subdiv));
  
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.tile {
  transition: background-image 20ms;
}

.player {
  background-image: url('player.png');
  position: absolute;
  z-index: -10;
  opacity: 0;
}

#key, .coin {
  z-index: -20;
  transition: 100ms;
}

#logo {
  font-size: 10vh;
  width: 100%;
  height: calc(var(--size) / 4);
  line-height: calc(var(--size) / 4);
  text-align: center;
}


/* ########################################################################################################################## */


#dataDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 50px;
}

#dataDiv > p {
  width: 340px;
  padding-top: 20px;
}

/* ########################################################################################################################## */

#options {
  position: absolute;
  width: 100%;
  height: 10%;

  display: flex;
  align-items: center;
  justify-content: end;
  z-index: 2;
}

#options img {
  width: 60px;
  height: 60px;

  margin: auto 10px;

  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;

  cursor: pointer;
  transition: 100ms;
}

#options img:last-child {
  width: 50px;
  height: 50px;
}

#options img:hover {
  filter: brightness(0.8);
}

#help, #settings {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;

  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: var(--bc-color);
  z-index: 10;
}

.close {
  position: absolute;
  top: 40px;
  right: 60px;
  font-size: 40px;
  font-weight: 900;
}