:root {
  /* Maze size */
  --size: 75vh;
  /* Start maze tile number. MUST BE ODD */
  --subdiv: 11;
  --color: #929992;
  --bc-color: #201208;
}

@font-face {
  font-family: 'pixelon';
  src: url('Pixelon-OGALo.ttf');
}

* {
  font-family: pixelon;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bc-color);
  color: var(--color);
  display: grid;
  grid-template-columns: calc((100vw - var(--size) - 10vw)/2) calc(var(--size) + 10vw) calc((100vw - var(--size) - 10vw)/2);
  height: 100vh;
  overflow: hidden;
}

/* Three columnes styling: */

#leaderboardDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
#leaderboard thead {
  font-weight: 900;
}

#leaderboard {
  position: relative;
  height: 54vh;
  width: 100%; 
  table-layout: fixed;
  width: auto;
  border-collapse: collapse;
  width: 80%;
  font-size: 20px;
}

th, td {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

#leaderboardBody>tr:last-child>th {
  border-bottom: 0;
}


/* ########################################################################################################################## */


#maze {
  position: relative;
  width: var(--size);
  height: var(--size);
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  flex-wrap: wrap;
  line-height: 0;
}

.tile, .player {
  height: calc(var(--size)/var(--subdiv));
  width: calc(var(--size)/var(--subdiv));
  
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.tile {
  transition: background-image 20ms;
}

.player {
  background-image: url('player.png');
  position: absolute;
  z-index: -10;
  opacity: 0;
}

#key, .coin {
  z-index: -20;
  transition: 100ms;
}

#logo {
  font-size: 10vh;
  width: 100%;
  height: calc(var(--size) / 4);
  line-height: calc(var(--size) / 4);
  text-align: center;
}


/* ########################################################################################################################## */


#dataDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 50px;
}

#dataDiv p {
  width: 300px;
  font-size: 50px;
  padding-top: 10px;
}