:root {
  /* Maze size */
  --size: 75vh;
  /* Start maze tile number. MUST BE ODD */
  --subdiv: 11;
  --color: #929992;
  --bc-color: #201208;
  --color-hover: #686b68;
}

@font-face {
  font-family: 'pixelon';
  src: url('Pixelon-OGALo.ttf');
}

* {
  font-family: pixelon;
  padding: 0;
  margin: 0;
  color: var(--color);
}

body {
  background-color: var(--bc-color);
  height: 100vh;
}

main {
  display: grid;
  grid-template-columns: calc((100vw - var(--size) - 10vw)/2) calc(var(--size) + 10vw) calc((100vw - var(--size) - 10vw)/2);
  height: 100vh;
  overflow: hidden;
}

/* ########################################################################################################################## */

#startForm {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#startForm button, form input {
  width: 20%;
  background-color: var(--bc-color);
  border: solid var(--color) 2px;
  font-size: 20px;
  padding: 10px;
  transition: 100ms;
  cursor: pointer;

  margin-bottom: 70px;
}
#startForm button:hover {
  border: solid var(--color-hover) 2px;
}

#startForm h1 {
  margin-bottom: 20px;
}
#startForm h3 {
  position: relative;
  top: -40px;
}

#leaderboard {
  position: relative;
  height: 54vh;
  width: 40%; 
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 25px;
}

#leaderboard thead {
  font-weight: 900;
}

th, td {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

#leaderboardBody>tr:nth-child(1)>td {
  color: #a97900;
}

#leaderboardBody>tr:last-child>td {
  border-bottom: 0;
}


/* ########################################################################################################################## */


#maze {
  position: relative;
  width: var(--size);
  height: var(--size);
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  flex-wrap: wrap;
  line-height: 0;
}

.tile, .player {
  height: calc(var(--size)/var(--subdiv));
  width: calc(var(--size)/var(--subdiv));
  
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.tile {
  transition: background-image 20ms;
}

.player {
  background-image: url('/assets/player.png');
  position: absolute;
  z-index: -10;
  opacity: 0;
}

#key, .coin {
  z-index: -20;
  transition: 100ms;
}

#logo {
  font-size: 10vh;
  width: 100%;
  height: calc(var(--size) / 4);
  line-height: calc(var(--size) / 4);
  text-align: center;
}


/* ########################################################################################################################## */


#dataDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2.5vw;
}

#dataDiv > p {
  padding-top: 20px;
}

/* ########################################################################################################################## */

#options {
  position: absolute;
  width: 100%;
  height: 10%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

#options img {
  width: 60px;
  height: 60px;

  margin: auto 10px;

  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;

  cursor: pointer;
  transition: 100ms;
}

#options img:last-child {
  width: 50px;
  height: 50px;
}

#options img:hover {
  filter: brightness(0.8);
}

#help, #settings {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;

  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: var(--bc-color);
  z-index: 10;

  text-align: center;
}

.close {
  position: absolute;
  top: 40px;
  right: 60px;
  font-size: 40px;
  font-weight: 900;
  cursor: pointer;
}

.close:hover {
  filter: brightness(0.8);
}

#help h1 {
  font-size: 60px;
  margin-bottom: 80px;
}

#settings h1 {
  font-size: 60px;
  margin-bottom: 70px;
}

#help h2 {
  font-size: 30px;
  margin-bottom: 25px;
  font-weight: bolder;
}

#help h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

#help h4 {
  font-size: 15px;
  margin-bottom: 20px;
}

#settings label {
  width: 24%;
  font-size: 25px;
  margin-bottom: 20px;
  text-align: left;
}

input[type='range'] {
  width: 25%;
  appearance: none;
  -webkit-appearance: none !important;
  background: var(--color);
  height: 10px;
  margin-bottom: 80px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: #5f4400;
  height: 20px;
  width: 15px;
}

/* w3shools checkbox */

.container {
  position: relative;
  top: -26px;
  left: 150px;
  display: block;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 40px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--color);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #5f4400;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}